

a {
    text-decoration: none;
}

button > a {
    color:white;
}
.categoryImage {
    border-radius: 15px 15px 0 0;
    width: 100%;
}
.categoryBTN {
    color: white;
    font-weight: bold;
    font-size: x-large;
    background: rgba(0,0,0,0.3);
    border-radius: 0 0 15px 15px;
}

.attrazione {
    background: rgba(255,255,255, 1);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
}

.attrazioneImage {
    transform: scale(1);
    transition: all 0.15s ease-out;
    border-radius: 20px;
}
.attrazioneImage:hover {
    transform: scale(1.4);
    transition: all 0.15s ease-in;
}
